{% extends 'headers.html' %}

{% block header %}
{% endblock header %}

{% block container %}

  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenue</h1>
        <p class="col-md-8 fs-4">Bienvenue sur la page de présentation de mes projets. Voici deux de mes principaux projets; si vous le souhaitez, vous pouvez accéder à la liste complète ci-dessous, ou (mieux encore!) tous les retrouver sur mon GitHub</p>
        <button class="btn btn-primary btn-lg" type="button" href="https://github.com/cos-imo">Mon GitHub</button>
        <button class="btn btn-primary btn-lg" type="button" href="/projects">Mes Projets</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Advent Of Code</h2>
          <p>Afin d'améliorer mes compétences en code (et de nourrir ma faim incessante de nouveau défi!) j'ai décidé de me mettre au défi de résoudre un maximum des 500 challenges de l'Advent Of Code.</p>
          <button class="btn btn-primary btn-lg" type="button">Voir le code</button>
          <button class="btn btn-outline-light" type="button">En savoir plus</button>
          <button class="btn btn-outline-light" type="button">Advent Of Code</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>TheProjectManager</h2>
          <p>En école d'ingénieur, nous avons appris à travailler sur des projets. Devant la masse abrutissante de données à ingérer et de méthodes à mettre en place pour en arriver à bout, j'ai décidé de faire ce que fait tout programmeur digne de ce nom: code un outil qui le ferait à ma place</p>
          <button class="btn btn-primary btn-lg" type="button">Voir le code</button>
          <button class="btn btn-outline-secondary" type="button">En savoir plus</button>
          <button class="btn btn-outline-secondary" type="button">Accéder au site</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2023
    </footer>
  </div>
</main>


    
  </body>
</html>

{% endblock container %}