{% extends 'headers.html' %}

{% block header %}
    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/add.css') }}">
{% endblock header %}

{% block container %}
    <h1>Personnel</h1><br>
    Blahblahblah mes projets persos blah blah blah
    <h2>Github</h2>
    Bon voilà la plupart de mes projets peuvent être retrouvés sur <a href="https://github.com/cos-imo">mon github</a><br>
    En particulier si vous êtes un recruteur je vous conseille de jeter un oeuil à la <a href="https://github.com/cos-imo/AdventOfCode">page de mes travaux sur Advent Of Code</a>. POur mieux comprendre l'intérêt de ce projet, je vous conseille de commencer par lire le <a href="https://github.com/cos-imo/AdventOfCode/blob/main/README.md">disclaimer</a> (enfin, quand je l'aurais tapé)
{% endblock container %}